/*
## Colors -variables-

################# Primary*/


/*(main background)*/

$veryDarkBlue: hsl(233, 47%, 7%);

/*(card background)*/

$darkDesaturatedBlue: hsl(244, 38%, 16%);

/*(accent)*/

$SoftViolet: hsl(277, 64%, 61%);

/*################# Neutral*/


/*(main heading, stats)**/

$white:hsl(0, 0%, 100%);

/*(main paragraph)**/

$slightlyTransparentWhite:hsla(0, 0%, 100%, 0.75);

/**(stat headings)*/

$slightlyTransparentWhite2:hsla(0, 0%, 100%, 0.6);
body {
    background-color: $veryDarkBlue;
}

.main {
    background-color: $darkDesaturatedBlue;
    &__heading {
        &--color {
            color: $white;
        }
        &--accent {
            color: $SoftViolet;
        }
    }
    &__paragraph {
        &--color {
            color: $slightlyTransparentWhite;
        }
    }
    &__stats {
        &--color {
            color: $white;
        }
    }
    &__headingStats {
        &--color {
            color: $slightlyTransparentWhite2;
        }
    }
}